#map { height: 88vh; }

.map-info {
    display: flex !important;
    flex-direction: column;
    justify-content: center;   
}

.map-info h1, .map-info p, .map-info form {
    padding: 20px 0px;
}

.map-info .button {
    margin-top: 10px;
}

.map-info form {
    display: flex;
    align-items: center;
}

.map-info form label {
    margin-top: 7px;
    padding: 0 5px;
}